@model IEnumerable<Assignment5.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>Shop</h1>

<p>
    <a asp-action="Cart">View Shopping Cart</a>
</p>

<div>
    <label for="genreFilter">Filter by Genre:</label>
    @Html.DropDownList("genreFilter", ViewBag.Genres as SelectList, "All", new { @class = "form-control", @onchange = "filterByGenre()" })
</div>

<table class="table" id="recordTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="recordRow" data-genre="@item.Genre">
                <td>@item.Genre</td>
                <td>@item.Title</td>
                <td>@item.Performer</td>
                <td>
                    <button>Add to Cart</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function filterByGenre() {
        var selectedGenre = $("#genreFilter").val();

        $(".recordRow").show();

        if (selectedGenre !== "") {
            $(".recordRow[data-genre!='" + selectedGenre + "']").hide();
        }
    }
</script>

