@model IEnumerable<Assignment5.Models.Record>
@{
    ViewData["Title"] = "Index";
}

<h1>Shop</h1>

<div>
    <label for="genreFilter">Filter by Genre:</label>
    @Html.DropDownList("genreFilter", ViewBag.Genres as SelectList, "All", new { @class = "form-control", @onchange = "filterByGenre()" })
</div>

<div>
    <label for="performerFilter">Filter by Performer:</label>
    @Html.DropDownList("performerFilter", ViewBag.Performers as SelectList, "All", new { @class = "form-control", @onchange = "filterByPerformer()" })
</div>

<table class="table" id="recordTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="recordRow" data-genre="@item.Genre" data-performer="@item.Performer">
                <td>@item.Genre</td>
                <td>@item.Title</td>
                <td>@item.Performer</td>
                <td>
                    <button class="addToCartBtn" data-genre="@item.Genre" data-title="@item.Title" data-performer="@item.Performer">Add to Cart</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Cart</h1>

<button onclick="alert('Purchasing music now.')">Purchase</button>

<script>
    function showCustomModal() {
        document.getElementById("customModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("customModal").style.display = "none";
    }
</script>

<table class="table" id="shoppingCartTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Shopping cart items will be dynamically added here -->
    </tbody>
</table>

<p>
    <span id="cartItemCount">0</span> items in cart
</p>

<script>

    function filterByGenre() {
        var selectedGenre = $("#genreFilter").val();
        var performers = [];

        $(".recordRow").show();

        if (selectedGenre !== "All") {
            $(".recordRow[data-genre!='" + selectedGenre + "']").hide();
            // Collect performers for the selected genre
            performers = $(".recordRow[data-genre='" + selectedGenre + "']").map(function () {
                return $(this).data("performer");
            }).get();
        }

        // Update the performer dropdown list
        updatePerformerDropdown(performers);
    }

    function filterByPerformer() {
        var selectedPerformer = $("#performerFilter").val();

        $(".recordRow").show();

        if (selectedPerformer !== "All") {
            $(".recordRow[data-performer!='" + selectedPerformer + "']").hide();
        }
    }

    function updatePerformerDropdown(performers) {
        // Remove existing options
        $("#performerFilter").empty();

        // Add a default "All" option
        $("#performerFilter").append("<option value='All'>All</option>");

        // Add performers to the dropdown list
        for (var i = 0; i < performers.length; i++) {
            $("#performerFilter").append("<option value='" + performers[i] + "'>" + performers[i] + "</option>");
        }
    }

</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize the cart count
        var cartCount = 0;

        $(".addToCartBtn").click(function () {
            console.log("Button clicked");

            var genre = $(this).data("genre");
            var title = $(this).data("title");
            var performer = $(this).data("performer");

            console.log("Genre: " + genre + ", Title: " + title + ", Performer: " + performer);

            // Add the selected record to the shopping cart table
            $("#shoppingCartTable tbody").append(
                '<tr>' +
                '<td>' + genre + '</td>' +
                '<td>' + title + '</td>' +
                '<td>' + performer + '</td>' +
                '<td><button class="removeFromCartBtn">Remove</button></td>' +
                '</tr>'
            );

            // Increment the cart count
            cartCount++;
            updateCartCount();
        });

        // Add click event for remove from cart button
        $("#shoppingCartTable").on("click", ".removeFromCartBtn", function () {
            $(this).closest("tr").remove();

            // Decrement the cart count
            cartCount--;
            updateCartCount();
        });

        // Function to update the cart count in the HTML
        function updateCartCount() {
            $("#cartItemCount").text(cartCount);

            // Set the value of the hidden input field
            $("#cartCountInput").val(cartCount);
        }
    });
</script>